<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo_final_JS_Contacto</title>
    <!--Fonts Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
        <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>

 <div class="container">
    <nav class="nav-main">
        <img src="../img/nav-brand.png" alt="Logo Relojeria" class="nav-brand">
       <ul class="nav-menu">
            <li class="nav-item">
                <a href="../index.html">Inicio</a></li>
            <li class="nav-item">
                <a href="presupuesto.html">Presupuesto</a></li>
            <li class="nav-item">
                <a href="contacto.html">Contacto</a></li>
            <li class="nav-item">
                <a href="galeria.html">Galeria</a></li>
        </ul>
    </nav>
    <hr>

<!--Mapa Dinamico-->
<div class="mapa">
    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=-3.7347212433815002%2C40.407328337029284%2C-3.7322106957435612%2C40.408717142834384&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?#map=19/40.408023/-3.733466">Ver el mapa más grande</a></small>
</div>
<hr>

 <!--Datos de contacto-->
<section class="datos">
    <p>Telefono de contacto: +55 555 555.</p><hr>
    <p>Email: website@website.com.</p><hr>
    <p>Puedes encontrarnos prensencialmente en <em>Calle falsa, 1234</em>.</p>
</section>
<hr>

     <!--BANNER-->
     <section class="cards-banner-one"> 
        <div class="content">
            <h2>Ofertas Especiales</h2>
            <p>Aprovecha nuestras ofertas exclusivas por tiempo</p>
            <p>limitado en relojes de lujo seleccionados.</p>
            <a href="presupuesto.html" class="btn-banner">Comprar Ahora <i class="fas fa-angle-double-right"></i></a>
        </div>

     </section>
     <!--SOCIAL-->
     <section class="social">
        <p>Follow us in our social media!</p>
        <div class="links">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
     </section>
 </div>

 <div class="footer-links">
    <div class="footer-container">
        <ul>
            <li>
                <a href="#">
                    <h3>Titulo</h3>
                </a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">
                    <h3>Titulo</h3>
                </a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">
                    <h3>Titulo</h3>
                </a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">
                    <h3>Titulo</h3>
                </a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
            <li>
                <a href="#">Relojes</a>
            </li>
        </ul>
    </div>
 </div>

 <footer class="footer">
    <p>&copy; 2024 Relojeria. Todos los derechos reservados.</p>
</footer>

<!--Scroll Reveal-->
<script src="https://unpkg.com/scrollreveal"></script>
<!--Custom JS-->
<script src="../js/main.js"></script>

</body>
</html>